@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin btn() {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  background-color: $color-green;
  cursor: pointer;
  color: $color-light;
  &:hover {
    text-decoration: underline;
  }
}
