@import "../../sass/main.scss";

.nav {
  //flex-direction, justify-content, align-items, gap
  @include flex(row, space-between, center, null);
  height: 8rem;
  padding: 0 4rem;
  color: $color-dark;
  font-size: clamp(2rem, 2vw, 2rem);

  @include sm {
    padding: 0 2rem;
  }

  a {
    display: inline-block;
    @include flex(column, center, null, null);
    height: clamp(20%, 5vw, 40%);

    img {
      height: 100%;
    }
  }

  ul {
    @include flex(row, null, center, 2rem);
    li {
      a {
        @include flex(row, null, center, 1rem);

        span{
          &:hover {
            text-decoration: underline;
          }

          @include sm {
            display: none;
          }
        }
      }
    }
  }
}
